* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
    font-size: 575%;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1%;
    margin: 45% 0;
}

h2 {
    text-align: center;
    font-size: 275%;
    color: #E5E5E5;
    text-transform: uppercase;
    letter-spacing: 1%;
}


/* Start Parallax */
.p1{
    background: url("bg.jpg") no-repeat fixed 100%;
    background-size: cover;
}
.p2{
    background: url("bg2.jpg") no-repeat fixed 100%;
    background-size: cover;
}

.inner{
    padding-top: 18%;
    padding-bottom: 18%;
}


/* End Parallax */