* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {

}

.navbar {
	height: 8vh;
	font-family: 'Share Tech Mono', monospace;
}

.social {
	margin: 0 .5em 0 .5em;
	opacity: .75;
}

header {
	background-image: url(../images/mountainbg.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 92vh;
	padding-top: 20vh;
	font-family: 'Strait', sans-serif;
}


/*#overlay_header {
	height: 92vh;
	background: #fff;
	opacity: 0.15;
}*/


.about {
	width: 100%;
	height: 100vh;
	background: #fff;
	background-size: cover;
}


.header_bg {
	animation-duration: .5s;
}

.card {
	margin-top: 10px;
	padding: 10px;
	background-color: transparent;
}



/*Desktop*/
@media only screen and (min-width: 961px){


}


/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

#navbar {
	height: 100%;
}

}


/*Mobile*/
@media only screen and (min-width: 401px) and (max-width: 400px){

.navbar {
	z-index: 1;
}

}




